body{
    background-image:url("https://t4.ftcdn.net/jpg/00/70/41/19/240_F_70411929_1eXidyzB3XHjgl9z46Cwqp2Ts54LAew2.jpg");
    background-size: cover;
    color: whitesmoke;
}
nav{
    font-size: 2em;
    margin-top: 5px;

}
nav ul li{
    display: inline-block;
    margin: auto;
    padding:10px;
}
nav ul li a{
    color: cyan;
    text-decoration: none;
}
nav ul{
    text-align: right;
}
nav >ul >li >a :hover {
    background-color: darkgray;
}
.all{

     display: flex;
     flex-direction: row;
     justify-content: space-around;
     margin:5%
}
h3{
    color:aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.intro{
    margin: 20px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
a:hover{
    background-color: aqua;
    color: black;
    margin :0%;
}
img{
    border: 2px solid black;
    border-radius: 20%;
}
    
